body {
	/* background-color: #000; */
	color: #fff;
	background: linear-gradient(0deg, gray, #4D4E46 80%);
	padding-top: 60px;
}
nav#myNavbar.navbar.navbar-default.navbar-fixed-top {
	background: #4D4E46;
	border-bottom-width: 0px;
}
div.jumbotron {
	background: #888a89;
}
.navbar-default .navbar-nav > li > a {
	color: #d3d3d3;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d2ce85;
}

.thumbnail {
	background-color: #646560;
	border:0 none;
	border-radius: 0;  
}

a {
	color: #d3d3d3;
}
